<h1>Enter any keyword that matches your movie</h1>
<form action="/results" method="GET">
<!-- 	//yani form results wale route pe jaake uska code chalake render krdega -->
	<input type="text" placeholder="search_term" name="search">
	<input type="submit">
</form>
