<%- include ("partials/header") %>
<h1> you are a : <%= thingVar %></h1>

<% if(thingVar==="rusty"){%>
	<p>Good Choice</p>

<!-- //ye js ka code ha
EJS ka ju <percentage percentage> wala ha isme = is lye use ni kia kio ke logic ma = use ni huga srf html ma use huga jesy iss file ke first line ma dekhu = use kia ha  -->

<% }else{ %>
<p> very bad choice try rusty in url </p>
<%}%>
<%- include ("partials/footer") %>